bin
obj
packages
maps
node_modules

.vs
.vscode
Nuget.config
WebEssentials2015-Settings.json

*.user
*.orig
*.min.js
*.min.js.map
*.min.css
*.css.map
*.css
*.lock.json

bundle.*
wwwroot/lib

.published
test-report.*

npm-debug.log
yarn-error.log
*.gz

public
.idea
npm-debug.log*
build
build/*
*.orig
*.nupkg
.coverage
.nuget-packages
mocha*.json
jsconfig.json
.vscode
jest.json
test-report.json
.warnings
.errors
yarn-error.log
test-report.html
tools
artifacts
dist/*